@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
	margin: 0;
	font-family: 'Varela Round', sans-serif;

}

#home {
	margin: 0;
	background-position: center;
	background-size: cover;
	background-color: #ffecda;
	height: 100vh;
}

h1 {
	font-size: 2.6vw;
	display:inline-flex;
	margin-left:3vw;
}

.min-button {
	height: 27px;
	width: 70px;
	display: inline-block;
	background-color: white;
	border: 2px solid black;
	border-radius: 2px;
}

.min-button span {
	color: black;
	text-align:center;
	padding-top: 4px;
	display: block;
}

#about{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

p{
	width: 60%;
	line-height: 40px;
	font-size: 26px;
}

.row{
	display: flex;
	padding: 0 4px;
	margin-bottom: 20px;
}

.column{
	flex: 23%;
	max-width: 25%;
	padding: 0 0.5%;
}

.column img{
	width: 100%;
	margin-top: 2.5%;
}

a {
	color: white;
	text-decoration: none;
}

#directory a{
	font-size: 30px;
	top: 4.5%;
	position: absolute;
	left: 80%;
	text-shadow: 3px 3px 2px #000000;
}

#footer {
	height: 7vh;
	background-color: black;
}

#profile {
  overflow: hidden;
}


#diamond {
    position: absolute;
    top: 15vh;
    left: 75vw;
    transform: rotate(-45deg);
    height: 200px;
    width: 200px;
    background-color: #8b4f80;
    /* z-index: 0; */
}

#name {
	margin-left:3vw;
	margin-bottom: 0;
}

#profile img {
 border: 2px solid black;
 margin: auto;
 height: 300px;
 border-radius: 2px;
 overflow: hidden;
 position: absolute;
 left: 70vw;
 top: 20vh;
}

#profile:hover {
 content: url("img/me2.png");
 height: 300px;
 overflow: hidden;
 position: absolute;
 left: 70vw;
 top: 20vh;
 border: 2px solid black;
 border-radius: 2px;
}

#profile-box{
	left: 71vw;
	top: 21.7vh;
	position:absolute;
	height: 300px;
	border-radius: 2px;
  width: 230px;
	background-color: #c8e7ed;
}

#profile2 img {
 border: 2px solid black;
 margin: auto;
 height: 250px;
 border-radius: 2px;
 overflow: hidden;
 position: absolute;
 left: 80vw;
 top: 50vh;
}

#profile2:hover {
 content: url("img/me.png");
 height: 250px;
 overflow: hidden;
 position: absolute;
 left: 80vw;
 top: 50vh;
 border: 2px solid black;
 border-radius: 2px;
}

#profile2-box{
	left: 79vw;
	top: 61vh;
	position:absolute;
	height: 180px;
	border-radius: 2px;
  width: 180px;
	background-color: #bfcfff;
}