@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
	margin: 0;
	font-family: 'Varela Round', 'Times New Roman', Georgia, Times, serif;
}

#home {
	margin: 0;
	background-position: center;
	background-size: cover;
	background-color: #FAF0D7;
	height: 100vh;
}

h1 {
	font-size: 2.6vw;
	display:inline-flex;
	margin-left:3vw;
}

.min-button {
	height: 27px;
	width: 70px;
	display: inline-block;
	background-color: white;
	border: 2px solid black;
	position: relative;
	border-radius: 2px;
}

.min-button span {
	color: black;
	text-align:center;
	padding-top: 4px;
	display: block;
}

#about{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

p{
	width: 60%;
	line-height: 40px;
	font-size: 26px;
}

.row{
	display: flex;
	padding: 0 4px;
	margin-bottom: 20px;
}

.column{
	flex: 23%;
	max-width: 25%;
	padding: 0 0.5%;
}

.column img{
	width: 100%;
	margin-top: 2.5%;
}

a {
	color: white;
	text-decoration: none;
}

#directory a{
	font-size: 30px;
	top: 4.5%;
	position: absolute;
	left: 80%;
	text-shadow: 3px 3px 2px #000000;
}

#footer {
	height: 7vh;
	background-color: #101114;
	color: white;
}

#profile {
  overflow: hidden;
}


#diamond {
    position: absolute;
    top: 17vh;
    right: 63vw;
    transform: rotate(45deg);
    height: 200px;
    width: 200px;
    background-color: #F4BFBF;
    /* z-index: 0; */
}

#name {
	margin-left:3vw;
	margin-bottom: 0;
	position: relative;
}

#profile img {
 content: url("img/me.png");
 border: 2px solid black;
 margin: auto;
 height: 300px;
 border-radius: 2px;
 overflow: hidden;
 position: absolute;
 right: 58vw;
 top: 22vh;
}


#profile:hover {
 content: url("img/white_out.jpeg");
 height: 300px;
 overflow: hidden;
 position: absolute;
 right: 58vw;
 top: 22vh;
 border: 2px solid black;
 border-radius: 2px;
}


#profile-box{
 right: 59vw;
 top: 20.3vh;
 position:absolute;
 height: 300px;
 border-radius: 2px;
 width: 220px;
 background-color: #FFD9C0;
}


#profile2 img {
 content: url("img/roof.png");
 border: 2px solid black;
 margin: auto;
 height: 250px;
 border-radius: 2px;
 overflow: hidden;
 position: absolute;
 right: 58vw;
 top: 60vh;
}

#profile2:hover {
 content: url("img/crystal_cove.jpeg");
 height: 250px;
 overflow: hidden;
 position: absolute;
 right: 58vw;
 top: 60vh;
 border: 2px solid black;
 border-radius: 2px;
}

#profile2-box{
 right: 64.5vw;
 top: 58.3vh;
 position:absolute;
 height: 250px;
 border-radius: 2px;
 width: 260px;
 background-color: #8CC0DE;
}

.highlight {
	opacity: 0.5;
	content: '';
  background-color: #f5c0a2;
  height: 1.5vh;
  position: relative;
  display: block;
  top: 60px;
  transform: translateY(-50%);
  left: 10%;
  width: 84%;
}

.typewrite {
	text-align: center;
	color: black;
}

.socials{
	width: 8vw;
	height: 5vh;
	position: fixed;
	border: 2px solid black;
	border-radius: 2px;
	left: 5vw;
	top: 86vh;
}

.socials a {
	color: black;
}


#icon-spacing{
	margin:10px;
}

#profile-desc {
	width: 100%;
	font-size: 1rem;
	padding-top: 10%;
	margin: 10%;
	/* line-height: 1.2em; */
	max-width: fit-content;
}

#profile-desc span {
	position: relative;
	margin-bottom:20px;
	display: block;
	max-width: 100%;
}

.light {
	background: rgba(245,215,110,0.5);
  transition: all linear .2s;
}

.light:hover{
	background: rgba(245,215,110,1);
	transition: all linear .2s;
}

#profile-desc a{
  color: black;
}