#about{
	height: fit-content;
	max-width: 100vw;
}

.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.desc p {
    width: 50%;
}

p {
    margin: 0;
    margin-top: 1.5rem;
    font-size: 1.15rem;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
}

.title:after p {
    background-color: yellow;
}

.hlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 58%, #8CC0DE 50%);
}

.descTitle {
    font-weight: bold;
    margin-bottom: 0;
}

.descText {
    margin-top: 0;
    font-style: italic;
    padding-top:5px;
	font-size: 1rem;
    margin-left: 5%;
}

.lightClass {
    background: rgba(131,229,255,0.5);
    transition: all linear .2s;
    color: black;
}

.lightClass:hover{
    background: rgba(131,229,255,1);
    transition: all linear .2s;
}

.descTitle span {
    float:right;
    font-size: 14px;
}

ul {
    list-style: none;
    display:inline-flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 30px 0 0 0 ;
    padding: 0;
    width:100%;
}

li {
    text-align: span;
}

li span {
    font-style: italic;
    font-size: 12px;
    width: 100px;
}

.liItem p {
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.boxDesc {
    margin-top: 10px;
    font-family: 'DM Mono', monospace;
    text-align: center;
}

.liItem img {
    max-width: 310px;
    max-height: 100px;
    display: block;
    margin: auto;
}

.boxForm {
    background-color: black;
    padding: 20px;
    border-radius: 5px;
}

.boxForm:hover {
    opacity: 0.5;
    transition: 0.4s;
}