@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

html {
	scroll-behavior: smooth;
	max-height: 100%;
}

body{
	margin: 0;
	/* font-family: 'Varela Round', 'Times New Roman', Georgia, Times, serif; */
	font-family: 'Source Serif Pro', serif;
}

button {
	font-family: 'Source Serif Pro', serif;
}

#home {
	margin: 0;
	background-position: center;
	background-size: cover;
	background-color: #FAF0D7;
	height: 100vh;
}

h1 {
	font-size: 2.6vw;
	display:inline-flex;
	margin-left:3vw;
	font-family: 'Varela Round';
}

.min-button {
	height: 27px;
	width: 70px;
	display: inline-block;
	background-color: white;
	border: 2px solid black;
	position: relative;
	border-radius: 2px;
}

.min-button span {
	color: black;
	text-align:center;
	padding-top: 4px;
	display: block;
}

.min-button:hover {
	opacity: 0.5;
	transition-duration: 0.5s;
}

.min-button:hover span {
	color:white;
	text-shadow: 2px 0px 2px black;
}

.row {
	display: flex;
	padding: 0 4px;
	margin-bottom: 20px;
}

.column {
	flex: 23%;
	max-width: 25%;
	padding: 0 0.5%;
}

.column img {
	width: 100%;
	margin-top: 2.5%;
}

a {
	color: white;
	text-decoration: none;
}

#directory a {
	font-size: 30px;
	top: 4.5%;
	position: absolute;
	left: 80%;
	text-shadow: 3px 3px 2px #000000;
}

#footer {
	height: 7vh;
	background-color: #101114;
	color: white;
}

#profile {
	overflow: hidden;
}

#footer a {
	color: white;
}

#links {
	font-size:40px;
	text-shadow: 3px 3px 3px;
	position: absolute;
	top: 41vh;
	right: 25vw;
	padding: 0px;
	margin: 10px;
	width: 200px;
	background-color: lightblue;
	border: 2px solid;
	border-color:black;
	border-radius: 4px;
	text-align: center;
	height: fit-content;
}


#links a {
	padding-left: 7px;
	padding-right: 7px;
}

#links a:hover {
	opacity: 0.5;
	transition-duration: 0.5s;
}


#diamond {
    position: absolute;
    top: 17vh;
    right: 63vw;
    transform: rotate(45deg);
    height: 200px;
    width: 200px;
    background-color: #F4BFBF;
}

#name {
	margin-left:3vw;
	margin-bottom: 0;
	position: relative;
}

#profile img {
	content: url("img/me.png");
	border: 2px solid black;
	margin: auto;
	height: 300px;
	border-radius: 2px;
	overflow: hidden;
	position: absolute;
	right: 58vw;
	top: 22vh;
}


#profile:hover {
	content: url("img/white_out.jpeg");
	height: 300px;
	overflow: hidden;
	position: absolute;
	right: 58vw;
	top: 22vh;
	border: 2px solid black;
	border-radius: 2px;
}


#profile-box {
	right: 59vw;
	top: 20.3vh;
	position:absolute;
	height: 300px;
	border-radius: 2px;
	width: 220px;
	background-color: #FFD9C0;
}


#profile2 img {
	content: url("img/roof.png");
	border: 2px solid black;
	margin: auto;
	height: 250px;
	border-radius: 2px;
	overflow: hidden;
	position: absolute;
	right: 58vw;
	top: 60vh;
}

#profile2:hover {
	content: url("img/crystal_cove.jpeg");
	height: 250px;
	overflow: hidden;
	position: absolute;
	right: 58vw;
	top: 60vh;
	border: 2px solid black;
	border-radius: 2px;
}

#profile2-box {
	right: 64.5vw;
	top: 58.3vh;
	position:absolute;
	height: 250px;
	border-radius: 2px;
	width: 260px;
	background-color: #8CC0DE;
}

.highlight {
	opacity: 0.5;
	content: '';
	background-color: #f5c0a2;
	height: 1.5vh;
	position: relative;
	display: block;
	top: 60px;
	transform: translateY(-50%);
	left: 10%;
	width: 84%;
}

.typewrite {
	text-align: center;
	color: black;
	right: 1px;
}

.socials {
	height: fit-content;
	position: fixed;
	border: 2px solid black;
	border-radius: 2px;
	left: 5vw;
	top: 86vh;
}

.socials a {
	color: black;
}


#icon-spacing {
	margin:10px;
}

#profile-desc {
	font-size: 1rem;
	padding-top: 8%;
	margin: 8%;
	max-width: fit-content;
}

#profile-desc span {
	position: relative;
	margin-bottom: 20px;
	display: block;
	max-width: 100%;
}

.light {
	background: rgba(245,215,110,0.5);
	transition: all linear .2s;
}

.light:hover {
	background: rgba(245,215,110,1);
	transition: all linear .2s;
}

#profile-desc a {
	color: black;
}